{% block body %}
    <h1>Sie wurden erfolgreich eingeloggt.</h1>

    <p>
        Sie wurden nicht automatisch weitergeleitet? Dann klicken Sie hier:
        <a href="/daten/index">Zum Frontend</a>
    </p>

    <script>
        window.location.href = "/daten/index";
    </script>
{% endblock %}
